@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Russo+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: scroll;
}

html,
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    height: 100%;
    margin: 0;
}

* {
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 50ms;
}

pre {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.lightMode {
    --text: #030921;
    --offText: #030921;
    --placeholderText: #03092180;
    --background: #e7ecfe;
    --navBackground: #e7ecfe70;
    --cardBg: #dde4fd;
    --cardBgHover: #c2cfff7e;
    --cardButtonBg: #a2b2e675;
    --border: #cfd4e4ab;
    --primary: #5370ee;
    --secondary: #f382ab;
    --accent: #ee6d49;
}

.darkMode {
    --text: #dee4fc;
    --offText: #dee4fc;
    --placeholderText: #dee4fc80;
    --background: #010618;
    --navBackground: #01061870;
    --cardBg: #020921;
    --cardBgHover: #05103d7e;
    --cardButtonBg: #88a0ff21;
    --border: #dee4fc0e;
    --primary: #1436d2;
    --secondary: #7d0c36;
    --accent: #b63511;
}

:root {
    --bodyColor: "green";
}
body {
    background-color: var(--bodyColor);
}

@media (width <= 1097px) {
    .tabLabels {
        display: none;
    }
}
